{% extends "layout.html" %}

<title>All Blogs</title>

{% block content %}
<h1>All Blogs</h1>

{% if session.id %}
<section id="blogs">
    {% for blog in blogs %}
    <article class="blog-post">
        <h2><a href="/blog/{{ blog.id }}">{{ blog.title }}</a></h2>
        <p>{{ blog.content[:30] | safe}}...</p>
        <footer>
            <p>By {{ blog.username }}</p>
        </footer>
    </article>
    {% endfor %}
</section>
{% else %}
<p>Login to access this features</p>
{% endif %}
{% endblock %}