{% extends "layout.html" %}

<title>All Blogs</title>

{% block content %}
<h1>All Blogs</h1>

{% if session.id %}
<section id="blogs">
    {% for blog in blogs %}
    <article class="blog-post">
        <h2><a href="/blog/{{ blog.id }}">{{ blog.title }}</a></h2>
        <p>{{ blog.content | safe}}</p><!-- jos näkyis vaa ekat 20 merkkiä tai 2 rivii 
        ja sit ...-->
        <!-- ehkä liketkin näkyviin-->
        <footer>
            <p>By {{ blog.username }}</p>
        </footer>
    </article>
    {% endfor %}
</section>
{% else %}
<section id="blogs">
    {% for blog in blogs %}
    <article class="blog-post">
        <h2>{{ blog.title }}</a></h2>
        <p>{{ blog.content }}</p>
        <footer>
            <p>By {{ blog.username }}</p>
        </footer>
    </article>
    {% endfor %}
</section>
{% endif %}


{% endblock %}