{% extends "layout.html" %}


{% block content %}
{% if session.id %}
<body>
    {{error}}
    <h1>{{ blog.title }}</h1>
    <p><strong>Author:</strong> {{ blog.username }}</p>
    <p><strong>Uploaded:</strong> {{ blog.uploaded_at.strftime('%d/%m/%Y') }}</p>
    <div>
        <p>{{ blog.content | safe }}</p>
    </div>
    <p>Likes: {{  likes  }}</p>
    <form action="/like_blog" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="blog_id" value="{{ blog.id }}">
        <input type="submit" value="Like">
    </form>

    <h3>Comments:</h3>
    <form action="/comment_blog" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="hidden" name="blog_id" value="{{ blog.id }}">
        <textarea name="comment" placeholder="Comment" rows="10" cols="50"></textarea>
        <input type="submit" value="Create comment">
    </form>
    <ul>
        {% for comment in comments %}
            <li>
                <p>By: {{ comment.username }}</p>
                <p>{{ comment.content }}</p>
                {% if comment.user_id == current_user %}
                    <form action="/delete_comment" method="post" style="display:inline;">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <input type="hidden" name="blog_id" value="{{ blog.id }}">
                        <input type="submit" value="Delete"
                            onclick="return confirm('Are you sure you want to remove comment?')">
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
{% else %}
<p>Login to access this feature</p>
{% endif %}
{% endblock %}