{% extends "layout.html" %}

<title>Create account</title>


{% block content %}

{% if session.id %}
<p>You are already logged in.</p>
{% else %}

<h1>Create account</h1>

    {{error}}

<form action="/create_account" method="POST" onsubmit="return check(this)">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <p>Username</p>
    <input type="text" name="username" placeholder="Username">
    <p>Password</p>
    <input type="password" name="password" placeholder="Password">
    <p>Re-enter password</p>
    <input type="password" name="password2" placeholder="Password">
    <br>
    <br>
    <input type="submit" value="Create account">
</form>
{% endif %}
<script>
    function check(form) {
        if (form.password.value.length != form.password2.value.length) {
            alert("Passwords do not match");
            return false;
        }
        if (form.password.value.length < 5 || form.password.value.length > 50) {
            alert("Password must be between 5-50 characters long")
            return false;
        }
        return true;
    }
</script>
{% endblock %}