{% extends "layout.html" %}

<title>front page</title>

{% block content %}
<h1>Blogsite</h1>

{{ error }}

{% if session.id %}
<div class="most_popular">
    <h2>Most popular blog</h2>
    <div class="content">
        <h3><b><a href="/blog/{{ most_liked_blog.id }}">{{ most_liked_blog.title }}</a></b></h3>
        <p>Blog content:</p>
        <p>{{ most_liked_blog.content | safe }}</p>
    </div>
</div>

{% else %}
<h3>Login to access more features</h3>
<div class="most_popular"></div>
    <h2>Most popular blog</h2>
    <div class="content">
        <p><b>{{ most_liked_blog.title }}</b></p>
        <p>{{ most_liked_blog.content | safe }}</p>
    </div>
</div>
{% endif %}
{% endblock %}