<link rel="stylesheet" href="/static/style.css">
<body class="topbar">
    <nav>
        <div class="side-by-side-container">
            {% if session.id %}
            <div class="layout_element"><a href="/">Front page</a></div>
            <div class="layout_element"><a href="/all_blogs">All blogs</a></div>
            <div class="layout_element"><a href="/create_blog">Create blog</a></div>
            <div class="layout_element"><a href="/my_drafts">Drafts</a></div>

            <div class="layout_element dropdown">
                <a href="/profile">{{ session.username }}</a>
                <div class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            {% else %}
            <div class="layout_element"><a href="/login">Log in</a></div>
            <div class="layout_element"><a href="/create_account">Create account</a></div>
            {% endif %}
        </div>
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
</body>