{% extends "layout.html" %}

<title>My Blogs</title>

{% block content %}

{% if not blogs %}
<p>You have not posted any blogs yet. <a href="create_blog">Click here</a> to create one!</p>
{% else %}
<body>
    <h1>My Blogs</h1>
    <section id="blogs">
        {% for blog in blogs %}
        <article class="blog-post">
            <h2><a href="/blog/{{ blog.id }}">{{ blog.title }}</a></h2>
            {% if blog.content|length > 30 %}
            <p>{{ blog.content[:30] | safe }}...</p>
            {% else %}
            <p>{{ blog.content | safe }}</p>
            {% endif %}
            <footer>
                <p>Uploaded: {{ blog.uploaded_at.strftime('%d-%m-%Y') }}</p>
            </footer>
            {% if blog.user_id == current_user %}
                <form action="/delete_blog" method="post" style="display:inline;">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="blog_id" value="{{ blog.id }}">
                    <input type="submit" value="Delete"
                        onclick="return confirm('Are you sure you want to remove blog? All comments will also be deleted.')">
                </form>
            {% endif %}
        </article>
        {% endfor %}
    </section>
</body>

{% endif %}
{% endblock %}