{% extends "layout.html" %}

{% block content %}
<title>My Drafts</title>

{% if not drafts %}
<p>You do not have any drafts. <a href="create_blog">Click here</a> to create a blog.</p>
{% else %}
<body>
    <h1>My Drafts</h1>
    {{ message }}
    <section id="drafts">
        {% for draft in drafts %}
        {% if draft.user_id == current_user %}
        <article class="draft-post">
            <h2>{{ draft.title }}</h2>
            <p>{{ draft.content }}</p>
            <footer>
                <p>Updated: {{ draft.created_at.strftime('%Y-%m-%d') }}</p>
            </footer>
                <form action="/delete_draft" method="post" style="display:inline;">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="draft_id" value="{{ draft.id }}">
                    <input type="submit" value="Delete"
                        onclick="return confirm('Are you sure you want to remove draft?')">
                </form>
                <form action="/my_drafts/{{draft.id}}" method="get" style="display:inline;">
                    <input type="submit" value="Edit">
                </form>
                <form action="/post_draft/{{draft.id}}" method="post" style="display:inline;">
                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                    <input type="hidden" name="draft_id" value="{{ draft.id }}">
                    <input type="submit" value="Post">
                </form>
            {% endif %}
            
        </article>
        {% endfor %}
    </section>
</body>
{% endif %}
{% endblock %}